@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  //color
  --foreground-color: #a1a1aa;
  --foreground-color-secondery: #71717a;
  --background-color: #18181b;
  --black: #09090b;

  //font
  --font-size: 22px;

  //cubes animate
  --cubes-animate-amount-in-row: 21;
  --cubes-animate-amount-in-column: 7;
  --cubes-animate-delay-show-new-cube: 500;
  --cubes-animate-delay-show: .1s;
  --cubes-animate-delay-fade: .8s;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

@keyframes show {
  from { opacity: 0;}
  to { opacity: 1; }
}

@keyframes fade {
  from { opacity: 1 }
  10% {opacity: 1}
  to { opacity: 0 }
}

@keyframes loader {
  from { opacity: 1 }
  50% { opacity: 1 }
  to { opacity: 0 }
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: var(--background-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--foreground-color-secondery);
    border-radius: 14px;
    border: 3px solid var(--background-color);
  }
}

body {
  position: relative;
  color: var(--foreground-color);
  background: var(--background-color);
  font-family: 'Pixelify Sans', sans-serif;
  font-size: var(--font-size);
}

.load-screen {
  position: absolute;
  top: 0; left: 0;
  height: 100svh;
  width: 100svw;
  background-color: var(--background-color);
  animation: loader 2s ease-out;
  opacity: 0;
  pointer-events: none;
}

.main {
  position: relative;
  width: 100%;

  .main__cubes {
    display: grid;
    grid-template-columns: repeat(var(--cubes-animate-amount-in-row), auto);
    grid-template-rows: repeat(var(--cubes-animate-amount-in-column), auto);
    height: calc((100svw / var(--cubes-animate-amount-in-row) * var(--cubes-animate-amount-in-column)));
  }

  .main__cubes-cube {
    height: calc((100svw / var(--cubes-animate-amount-in-row)));
    width: 100%;
    background-color: var(--foreground-color-secondery);
    opacity: 0;
  }

  .main__cubes-cube_show {
    &:hover {
      opacity: 1;
      animation: show var(--cubes-animate-delay-show) ease-out;
    }
  }

  .main__cubes-cube_fade {
    animation: fade var(--cubes-animate-delay-fade) ease-out;
  }

  .main__content {
    pointer-events: none;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(9, 9, 11, .8);

    .main__content-title {
      padding: 12% 0;
    }

    h1 {
      font-size: 72px;
      font-family: 'Pixelify Sans', sans-serif;
    }
  }

  .main__drop-menu {
    position: absolute;
    top: 50px; left: -25px;
    height: 100px;
    width: 50px;
    border-radius: 0 5px 5px 0;
    background-color: var(--foreground-color-secondery);
    transition: left .3s ease-out;

    &:hover {
      left: 0;
    }
  }

  .main__picture {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0; right: 0;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
}

//glitch text
$bg-color: rgb(9, 9, 11, .8);;
$glitch-bg-color: $bg-color;

.glitch {
  position: relative;
  margin: 0 auto;
}

.glitch::before,
.glitch::after {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  overflow: hidden;
  position: absolute;
  top: 0;
  clip: rect(0, 900px, 0, 0);
  content: attr(data-text);
}

.glitch::after {
  animation-name: glitch-animation;
  animation-duration: 4s;
  left: 4px;
  text-shadow: -1px 0 var(--foreground-color);
  background: $glitch-bg-color;
}

.glitch::before {
  animation-name: glitch-animation-2;
  animation-duration: 6s;
  left: -4px;
  text-shadow: 1px 0 var(--foreground-color-secondery);
  background: $glitch-bg-color;
}

@mixin rect($top, $bottom) {
  clip: rect($top, 9999px, $bottom, 0);
}

/* Expanded Animations */
@keyframes glitch-animation {
  0% { @include rect(42px, 44px); }
  5% { @include rect(12px, 59px); }
  10% { @include rect(48px, 29px); }
  15.0% { @include rect(42px, 73px); }
  20% { @include rect(63px, 27px); }
  25% { @include rect(34px, 55px); }
  30.0% { @include rect(86px, 73px); }
  35% { @include rect(20px, 20px); }
  40% { @include rect(26px, 60px); }
  45% { @include rect(25px, 66px); }
  50% { @include rect(57px, 98px); }
  55.0% { @include rect(5px, 46px); }
  60.0% { @include rect(82px, 31px); }
  65% { @include rect(54px, 27px); }
  70% { @include rect(28px, 99px); }
  75% { @include rect(45px, 69px); }
  80% { @include rect(23px, 85px); }
  85.0% { @include rect(54px, 84px); }
  90% { @include rect(45px, 47px); }
  95% { @include rect(37px, 20px); }
  100% { @include rect(4px, 91px); }
}

@keyframes glitch-animation-2 {
  0% { @include rect(65px, 100px); }
  5% { @include rect(52px, 74px); }
  10% { @include rect(79px, 85px); }
  15.0% { @include rect(75px, 5px); }
  20% { @include rect(67px, 61px); }
  25% { @include rect(14px, 79px); }
  30.0% { @include rect(1px, 66px); }
  35% { @include rect(86px, 30px); }
  40% { @include rect(23px, 98px); }
  45% { @include rect(85px, 72px); }
  50% { @include rect(71px, 75px); }
  55.0% { @include rect(2px, 48px); }
  60.0% { @include rect(30px, 16px); }
  65% { @include rect(59px, 50px); }
  70% { @include rect(41px, 62px); }
  75% { @include rect(2px, 82px); }
  80% { @include rect(47px, 73px); }
  85.0% { @include rect(3px, 27px); }
  90% { @include rect(26px, 55px); }
  95% { @include rect(42px, 97px); }
  100% { @include rect(38px, 49px); }
}